/* Reset gaya default browser */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Gaya umum */
body {
  font-family: Lexend, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.header, .nav, .footer {
  background-color: #264653;
  color: white;
  padding: 1rem 0;
  text-align: center;

}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin: 0 20px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.center-content {
  flex: 2;
}

.sidebar-left, .sidebar-right, .sidebar-middle {
  flex: 1;
  background-color: #cce6ff;
  padding: 1rem;
}

.sidebar-left {
  margin-right: 20px;
}

.sidebar-right {
  margin-left: 20px;
}

.footer {
  padding: 1rem;
}


@media (max-width: 768px) {
  .main-content {
      flex-direction: column;
  }
  .sidebar-left, .sidebar-right,  .sidebar-middle {
      margin: 20px 0;
  }
}